<div class="container mt-2">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <button type="button" [routerLink]="['/post']" class="d-flex btn my-2">
        <span class="material-icons"> keyboard_backspace </span>
        <div class="ms-2">Back</div>
      </button>
      <ng-container *ngIf="entityList && entityList.length > 0">
        <ng-container *ngFor="let item of entityList; let i = index">
          <app-post-card
            [postCard]="item"
            [postDelete]="true"
            (commentUpdate)="updateComment(i)"
            (reTweetUpdate)="updateReTweet(i)"
            (likeUpdate)="updateLike(i)"
            (impressionUpdate)="updateImpression(i)"
            (remove)="removePost(item.id)"
          ></app-post-card>
        </ng-container>
      </ng-container>
    </div>
    <div class="col-3"></div>
  </div>
</div>
